build
RobotTestRunner.spec

tests-for-validation/*.log
tests-for-validation/*.xml
tests-for-validation/*.html

tests-for-validation/results
tests-for-validation/.pabotsuitenames
tests-for-validation/pabot_results

controllers/__pycache__

# ignore all python cache files
ui/__pycache__
utils/__pycache__
widgets/__pycache__

__pycache__

dist
build/RobotTestRunner
dist/RobotTestRunner
dist/RobotTestRunner-*.tar.gz
dist/RobotTestRunner-*.zip
dist/RobotTestRunner-*.tar.bz2
dist/RobotTestRunner-*.tar.xz
dist/RobotTestRunner-*.tar.lzma
dist/RobotTestRunner-*.tar.zst
dist/RobotTestRunner-*.tar.lzo
dist/RobotTestRunner-*.tar.lz
dist/RobotTestRunner-*.tar.lzop
dist/RobotTestRunner-*.tar.lz4

*.egg-info
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lz
*.tar.lzop
*.tar.lz4

# ignore all test files
ui/analytics/__pycache__
ui/dashboard/__pycache__

# Not pushing environment files
venv
installed.txt

# ignore all test files
tests-for-validation/robotframework-*.log
tests-for-validation/robotframework-*.xml
tests-for-validation/robotframework-*.html
tests-for-validation/robotframework-*.json
tests-for-validation/robotframework-*.txt
tests-for-validation/robotframework-*.png
tests-for-validation/robotframework-*.pdf

# Ignore files for pyinstaller
main.spec
RobotTestRunner.spec

nul
